h1 {
    font-style: italic;
}

#secciondatos {
    width: 50%;
    margin: 0 auto;
}
section h2 {
    font-family: 'Open Sans', sans-serif
}
section p {
    text-align: center;
}
section span {
    text-align: center;
}

#seccionredes {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}
section a {
    font-weight: 600;
}

class='seccion'{
<section id="secciondatos" class="seccion" > ... </section>
<section id="seccionredes" class="seccion" > ... </section>
<section id="seccionhabilidades" class="seccion" > ... </section>
<aside id="secciongaleria" class="seccion" > ... </aside>
<section id="seccioncontactenos" class="seccion" > ... </section>
}

  
.seccion {
    width: 50%;
    margin: 0 auto; 
}

#seccionhabilidades table td {
    text-align: center;
}

#seccionhabilidades table {
    margin: 0 auto;
}

.seccion {
    background-color: white;
    padding: 2%;
    margin-top: 4% !important;
    margin-bottom: 4% !important;
    box-shadow: 0 1px 6px rgb(0, 0, 0/ 12%), 0 1px 4px rgb(0, 0, 0/ 12%)
}
section h2 {
    color: #636ceb;
}
section a {
    text-decoration: #373B41;
}
nav ul {
    list-style-type: none;
}
#secciondatos p {
    font-size: 2.0 rem;
    margin-top: 6%;
    color: #cc5adb;
}

#seccioncontactenos {
    display: grid;
    grid-template-areas: "area1 area1 area1 area1"
                        "area2 area2 area3 area3"
                        "area4 area4 area5 area5";
}

#contactame {
    grid-area: area1;
}

#susdatos {
    grid-area: area2;
}

#ubicacion {
    grid-area: area3;
}

#formulario {
    grid-area: area4;
}

#mapa {
    grid-area: area5;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

#email {
    display: flex;
    flex-direction: column;
}
#telefono {
    display: flex;
    flex-direction: row;
}
#direccion {
    display: flex;
    flex-direction: row;
}
#ciudad {
    display: flex;
    flex-direction: row;
}
#pais {
    display: flex;
    flex-direction: row;
}
#o25 {
    display: flex;
    flex-direction: column;
}
#o26y30 {
    display: flex;
    flex-direction: column;
}
#o31 {
    display: flex;
    flex-direction: column;
}